/* app css stylesheet */

.strike{
  text-decoration: line-through;
}

#todoList .description{
	font-family:"Lobster", cursive;
	font-size:20px;
	font-weight:500;
	cursor:pointer;
}

#todoList input[type=checkbox]{
	margin-right:10px;
}

#todoList input.btn-danger{
	float:right;
	margin-top:5px;
}
.list-group .list-group-item .btn-danger{
	visibility: hidden;
	opacity:0.45;
	filter:alpha(opacity=45);
	transition: linear 1s ;
}
.list-group .list-group-item:hover{
	cursor: pointer;
	border-color:#ecf0f1;
	background:#2c3e50;
	color:#fff;
}
.list-group .list-group-item:hover .btn-danger{
	visibility: visible;
	padding:2px 7px;
	opacity:1;
	filter:alpha(opacity=100);
	transform:rotate(360deg);
}


