/* app css stylesheet */
@import url("http://fonts.googleapis.com/css?family=Roboto ");
@import url("http://fonts.googleapis.com/css?family=Lobster");

body, html{
	font-family: roboto;
	font-weight:400;
	font-size: 12px;
}
body{
	padding-top: 50px;
}
.movie-heading{
	font-family: "lobster" cursive;
	font-weight:500;
}
.movie-container{
	float:left;
	margin-bottom:5px;
}
.movie-container .movie-thumb{
	//display: inline-block;
}
.movie-container .movie-thumb .thumbnail{
	margin-bottom:0;
}