<!DOCTYPE html>
  <html lan="en">
    <head>
      <title>To do app</title>
      <link href="app.css" rel="stylesheet"/>
    </head>
    <body ng-app="todoApp" ng-controller="todoAppController">
      <h2>Do what you want to do</h2>
      <form ng-submit="addNewTask()">
        <input type="text" ng-model="newTask" />
        <input type="submit" value="Add" />
      </form>
      <div id="todoList">
        <div ng-repeat="task in newTaskList">
          <label>
              <input type="checkbox" ng-model="task.done"/>
              <span ng-bind="task.description" ng-class="{strike : task.done}"></span>
          </label>
          <input type="button" ng-click="removeTask($index)" value="delete"/>
        </div>
      </div> 
      <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
      <script type="text/javascript" src="app.js"></script>
      <script type="text/javascript" src="controller.js"></script>
    </body>
  </html>